@font-face {
    font-family: 'Taller';
    src: url('/assets/fonts/taller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #131313;
}

::selection {
    color: white;
    background: #131313;
}

*::-webkit-scrollbar {
    position: fixed;
    left: 0;
    background: transparent;
    border: none;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #1f3cbc;
}

*::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7.5vh;
    padding: 0 2.5rem;
    backdrop-filter: blur(5px);
}

header nav a {
    color: black;
    margin-right: 2.5rem;
}

header .logo {
    text-decoration: none;
}

header .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(150px, 50vw, 400px);
}

header input {
    font-size: 1.05rem;
    border-radius: .5rem;
    height: 35px;
    padding: 0 .5rem;
    margin-right: 0.5rem;
    width: clamp(115px, 50vw, 365px);
    border: none;
    background-color: #ffffff95;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 35px;
    height: 35px;
    border: none;
    color: black;
    background-color: #ffffff95;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

i {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z'%3E%3C/path%3E%3C/svg%3E");
}

header input::placeholder {
    color: rgb(35, 35, 35);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, #ffffff 0%, #1538d4 100%);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1 {
    color: white;
    font-weight: bold;
    line-height: 1.5;
    font-size: 60vh;
    letter-spacing: 2.5rem;
    font-family: 'Taller', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background-image: url('/assets/img/background.jpg');
    color: transparent;
    z-index: -1000;
    white-space: nowrap;
    overflow: scroll;
}

h1.spacy {
    letter-spacing: 5rem;
}

.grid {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding:  10vh 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

main article:not(.glass) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
}

main article>div {
    display: flex;
    flex-direction: column;
}

main article h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    text-align: center;
}

main article h3 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.glass img {
    border-radius: 50vw;
    margin-bottom: .25rem;
}

.glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000035;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 1.5rem;
    width: 30vw;
    padding: 1.25rem;
    backdrop-filter: blur(5px);
}

article.glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000035;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 1.5rem;
    width: 20vw;
    height: 50vh;
    padding: 2.5rem;
    margin-bottom: 3rem;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.25rem;
}

h2 {
    font-size: 30px;
    padding-bottom: 10px;
    color: white;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
    color: #ffffff;
}

.tag {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 0.3rem .75rem;
    margin-right: 1.25rem;
    margin-bottom: .75rem;
    color: white;
    background-color: black;
    border-radius: 2rem;
}

.info-artist {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
}

.artist-glass img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.artist-glass {
    display: flex;
    flex-direction: column;
    background-color: #00000035;
    justify-content: center;
    align-items: center;
    min-height: 68vh;
    width: 500px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    backdrop-filter: blur(5px);
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #00000035;
    padding: .5rem;
    font-style: 1.25rem;
    backdrop-filter: blur(5px);
}

@-webkit-keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

footer span.heart {
    margin: 0rem 0.25rem;
    transform-origin: center;
    animation: beat 1s infinite alternate;
}

/* @media screen and (min-width: 1118px) {
    h1 {
        left: 15%;
    }
} */

/*
@media screen and (max-width: 480px) {
    .glass {
        width: 95vw;
        padding: 0.5rem;
    }
} */