@font-face {
    font-family: 'Taller';
    src: url('/assets/fonts/taller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #131313;
}

::selection {
    color: white;
    background: #131313;
}

*::-webkit-scrollbar {
    position: fixed;
    left: 0;
    background: transparent;
    border: none;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #1f3cbc;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7.5vh;
    padding: 0 2.5rem;
    backdrop-filter: blur(5px);
}

header nav a {
    color: black;
    margin-right: 2.5rem;
}

header .logo {
    text-decoration: none;
}

header .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(150px, 50vw, 400px);
}

header input {
    font-size: 1.05rem;
    border-radius: .5rem;
    height: 35px;
    padding: 0 .5rem;
    margin-right: 0.5rem;
    width: clamp(115px, 50vw, 365px);
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 35px;
    height: 35px;
    border: none;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

header button,
header input {
    background-color: #ffffff95;
}

i {
    display: block;
    width: 20px;
    height: 20px;
}

.search button i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z'%3E%3C/path%3E%3C/svg%3E");
}

header input::placeholder {
    color: rgb(35, 35, 35);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, #ffffff 0%, #1538d4 100%);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1 {
    color: white;
    font-weight: bold;
    line-height: 1.5;
    font-size: 80vh;
    letter-spacing: 2.5rem;
    font-family: 'Taller', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-size: contain;
    text-transform: uppercase;
    background-image: url('/assets/img/background.jpg');
    color: transparent;
    z-index: -1;
    white-space: nowrap;
}

h1.spacy {
    letter-spacing: 5rem;
}

.grid {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 10vh 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

main article:not(.glass) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
}

main article>div {
    display: flex;
    flex-direction: column;
}

main article h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    text-align: center;
}

main article h3 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.glass img {
    border-radius: 50vw;
    margin-bottom: .25rem;
}

.glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000035;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 1.5rem;
    /* width: 30vw; */
    padding: 1.25rem;
    backdrop-filter: blur(5px);
}

article.glass {
    width: 20vw;
    flex-basis: 30%;
    height: 50vh;
    padding: 2.5rem;
    margin-bottom: 3rem;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.25rem;
}

.tag {
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 0.3rem .75rem;
    margin-right: 1.25rem;
    margin-bottom: .75rem;
    color: white;
    background-color: black;
    border-radius: 2rem;
}

.container {
    position: absolute;
    display: grid;
    height: 80vh;
    gap: .125rem;
    grid-template-columns: repeat(55, 1fr);
    grid-template-rows: repeat(35, 1fr);
    counter-reset: cell-counter;
}

.cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 50%;
    width: 17.5px;
    height: 17.5px;
    overflow: hidden;
    color: transparent;
}

.cell.index .tooltip {
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    padding: .25rem;
    border-radius: .25rem;
    z-index: 100;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
}

.cell.index:hover {
    overflow: visible;
    color: white;
    z-index: 100;
    transform: scale(1.75);
}

.cell.index:hover .tooltip {
    width: auto;
    height: auto;
    opacity: 1;
    transition: transform .5s ease-in-out;
}

.cell.index:hover .tooltip.top {
    transform: translateY(-100%);
}

.cell.index:hover .tooltip.bottom {
    transform: translateY(65%);
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #00000035;
    height: 5vh;
    font-style: 1.25rem;
    backdrop-filter: blur(5px);
}

@-webkit-keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

footer span.heart {
    margin: 0rem 0.25rem;
    transform-origin: center;
    animation: beat 1s infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 0 white;
    }

    to {
        transform: scale(1.01);
        box-shadow: 0 0 5px 2px white;
    }
}

.tag.place:hover,
.tag.date:hover {
    background-color: #1538d4;
}

.glowing.tag {
    background-color: #1538d4;
    position: relative;
}

.glowing.tag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: 0.5s;
    z-index: -1;
    opacity: 0.25;
    border-radius: 2rem;
    animation: glowing .75s ease-in-out infinite alternate;
}


/* Desktop*/
@media screen and (min-width: 1024pxpx) {

}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1482px) {
    article.glass {
        width: 40vw;
    }
}

/* Phone */
@media screen and (min-width: 1024pxpx) {

}