@font-face {
    font-family: 'Taller';
    src: url('/assets/fonts/taller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #131313;
}

::selection {
    color: white;
    background: #131313;
}

*::-webkit-scrollbar {
    position: fixed;
    left: 0;
    background: transparent;
    border: none;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #1f3cbc;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7.5vh;
    padding: 0 2.5rem;
    backdrop-filter: blur(5px);
}

header form.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: black;
    margin-right: 2.5rem;
}

header .logo {
    text-decoration: none;
}

header .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(100px, 40vw, 300px);
}

header .search input {
    font-size: 1.05rem;
    border-radius: .5rem;
    height: 35px;
    padding: 0 .5rem;
    margin-right: 0.5rem;
    width: clamp(115px, 50vw, 365px);
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

a.btn,
button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    color: black;
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

header button.icon {
    width: 35px;
    height: 35px;
}

a.btn {
    padding: .25rem .5rem;
    background-color: #ffffff95;
}

header input {
    background-color: #ffffff95;
}

i {
    display: block;
    width: 20px;
    height: 20px;
}

.search button i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z'%3E%3C/path%3E%3C/svg%3E");
}

button.send i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21 18V21H19V18H17V16H23V18H21ZM5 18V21H3V18H1V16H7V18H5ZM11 6V3H13V6H15V8H9V6H11ZM11 10H13V21H11V10ZM3 14V3H5V14H3ZM19 14V3H21V14H19Z'%3E%3C/path%3E%3C/svg%3E");
}

header .search input::placeholder {
    color: rgb(35, 35, 35);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, #ffffff 0%, #1538d4 100%);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1 {
    color: white;
    font-weight: bold;
    line-height: 1.5;
    font-size: 80vh;
    letter-spacing: 2.5rem;
    font-family: 'Taller', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-size: contain;
    text-transform: uppercase;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-position: center center;
    color: transparent;
    z-index: -1;
    white-space: nowrap;
}

h1.spacy {
    letter-spacing: 5rem;
}

.grid {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 10vh 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

main article:not(.glass) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
}

main article>div:not(.row) {
    display: flex;
    flex-direction: column;
}

main article h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    text-align: center;
}

main article h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.glass img {
    width: 220px;
    height: 220px;
    border-radius: 50vw;
    margin-bottom: .5rem;
}

.glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 30vw;
    padding: 1.25rem;
    border: 1px solid white;
    background-color: #00000056;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    backdrop-filter: blur(4px);
}

article.glass {
    width: 22.5vw;
    height: 350px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.25rem;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 0.3rem .75rem;
    margin-right: 1.25rem;
    margin-bottom: .75rem;
    color: white;
    background-color: black;
    border-radius: 2rem;
}

.tag svg {
    margin-right: 0.5rem;
}

.tag .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background: white;
    border-radius: 50%;
}

.container {
    position: absolute;
    display: grid;
    height: 80vh;
    gap: .125rem;
    grid-template-columns: repeat(55, 1fr);
    grid-template-rows: repeat(35, 1fr);
    counter-reset: cell-counter;
}

.cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 50%;
    width: 17.5px;
    height: 17.5px;
    overflow: hidden;
    color: transparent;
}

.cell.index .tooltip {
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    padding: .25rem;
    border-radius: .25rem;
    z-index: 100;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
}

.cell.index:hover {
    overflow: visible;
    color: white;
    z-index: 100;
    transform: scale(1.75);
}

.cell.index:hover .tooltip {
    width: auto;
    height: auto;
    opacity: 1;
    transition: transform .5s ease-in-out;
}

.cell.index:hover .tooltip.top {
    transform: translateY(-100%);
}

.cell.index:hover .tooltip.bottom {
    transform: translateY(65%);
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #00000035;
    height: 5vh;
    font-style: 1.25rem;
    backdrop-filter: blur(5px);
}

@-webkit-keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

footer span.heart {
    margin: 0rem 0.25rem;
    transform-origin: center;
    animation: beat 1s infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 0 white;
    }

    to {
        transform: scale(1.01);
        box-shadow: 0 0 5px 2px white;
    }
}

.tag.place:hover,
.tag.date:hover {
    background-color: #1538d4;
}

.glowing.tag {
    background-color: #1538d4;
    position: relative;
}

.glowing.tag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: 0.5s;
    z-index: -1;
    opacity: 0.25;
    border-radius: 2rem;
    animation: glowing .75s ease-in-out infinite alternate;
}

#suggestions {
    display: none;
    position: absolute;
    top: 7.5vh;
    left: 0rem;
    z-index: 30;
    padding: 1.25rem;
    background-color: white;
    border-radius: .25rem;
    overflow: scroll;
}

#suggestions.show {
    max-width: 30vw;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
}

#suggestions h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#suggestions>.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
}

#suggestions a {
    color: black;
    margin-bottom: 0.25rem;
}

#suggestions a:hover {
    color: #1f3cbc;
    text-decoration: solid #1f3cbc;
}

#event-list {
    position: absolute;
    top: 7.5vh;
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: scroll;
    padding: 2.5rem;
    scrollbar-width: 10px;
}

#event-list::-webkit-scrollbar {
    height: 10px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2.5rem;
}

.event .day {
    font-size: 10rem;
    margin-bottom: 2.5rem;
}

.event .month {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.event .year {
    font-size: 5rem;
}

#scroll-button-end {
    position: fixed;
    cursor: pointer;
    right: 2.5rem;
    z-index: 50;
}

#scroll-button-start {
    position: fixed;
    display: none;
    cursor: pointer;
    left: 2.5rem;
    z-index: 50;
}

#scroll-button-end i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10.0859 12.0001L5.29297 16.793L6.70718 18.2072L12.9143 12.0001L6.70718 5.79297L5.29297 7.20718L10.0859 12.0001ZM17.0001 6.00008L17.0001 18.0001H15.0001L15.0001 6.00008L17.0001 6.00008Z'%3E%3C/path%3E%3C/svg%3E");
}

#scroll-button-start i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M13.9142 12.0001L18.7071 7.20718L17.2929 5.79297L11.0858 12.0001L17.2929 18.2072L18.7071 16.793L13.9142 12.0001ZM7 18.0001V6.00008H9V18.0001H7Z'%3E%3C/path%3E%3C/svg%3E");
}

#map {
    width: 90%;
    height: 85%;
}