<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Groupie Trackers {{template "title" . }}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎤</text></svg>">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo">GROUPIE</a>
            <a href="/events">Events</a>
            <a href="/artists">Artists</a>
            {{template "artist" . }}
        </nav>
        <!-- <form method="POST" action="/search" class="search">
            <input type="search" name="search" id="search" placeholder="Search...">
            <button class="icon" type="submit">
                <i></i>
            </button>
            <div id="suggestions"></div>
        </form> -->
    </header>
    {{template "content" .}}
    <!-- <script src="/scripts/search.js"></script> -->
    <footer>
        Copyright make with <span class="heart">❤️</span> and ☕ by SSMM0498 & BAKSECK
    </footer>
</body>

</html>