<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Groupie Trackers {{template "title" . }}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎤</text></svg>">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        #suggestions {
            display: none;
            position: absolute;
            top: 7.5vh;
            left: 0rem;
            z-index: 30;
            padding: 1.25rem;
            background-color: white;
            border-radius: .25rem;
            overflow: scroll;
        }

        #suggestions.show {
            max-width: 30vw;
            max-height: 50vh;
            display: flex;
            flex-direction: column;
        }

        #suggestions h3 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        #suggestions>.list {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.25rem;
        }

        #suggestions a {
            color: black;
            margin-bottom: 0.25rem;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo">GROUPIE</a>
            <a href="/events">Events</a>
            <a href="/artists">Artists</a>
            {{template "artist" . }}
        </nav>
        <form method="post" action="/search" class="search">
            <input type="search" name="search" id="search" placeholder="Search...">
            <button type="submit">
                <i></i>
            </button>
            <div id="suggestions"></div>
        </form>
    </header>
    {{template "content" .}}
    <script>
        const searchInput = document.getElementById("search");
        const searchForm = document.querySelector("form.search")
        const suggestionsContainer = document.getElementById('suggestions');
        function debounce(func, delay) {
            let timeoutId;

            return function () {
                const context = this;
                const args = arguments;

                clearTimeout(timeoutId);

                timeoutId = setTimeout(function () {
                    func.apply(context, args);
                }, delay);
            };
        }

        function createSuggestionHeading(headingText) {
            const heading = document.createElement('h3');
            heading.textContent = headingText;
            return heading;
        }

        function createSuggestionList(suggestions) {
            const list = document.createElement('div');
            list.classList.add("list");

            suggestions.forEach(suggestion => {
                const item = document.createElement('a');
                wordLink = suggestion.split("@")
                item.textContent = wordLink[0];
                item.setAttribute("href", `/artist/${wordLink[1]}`)
                list.appendChild(item);
            });

            return list;
        }

        function showSuggestions(suggestions) {
            suggestionsContainer.innerHTML = '';
            if (!suggestionsContainer.classList.contains("show")) {
                suggestionsContainer.classList.add("show");
            }

            if (suggestions.Names && suggestions.Names.length > 0) {
                const namesHeading = createSuggestionHeading('Names');
                const namesList = createSuggestionList(suggestions.Names);
                suggestionsContainer.appendChild(namesHeading);
                suggestionsContainer.appendChild(namesList);
            }

            if (suggestions.Members && suggestions.Members.length > 0) {
                const membersHeading = createSuggestionHeading('Members');
                const membersList = createSuggestionList(suggestions.Members);
                suggestionsContainer.appendChild(membersHeading);
                suggestionsContainer.appendChild(membersList);
            }

            if (suggestions.Locations && suggestions.Locations.length > 0) {
                const locationsHeading = createSuggestionHeading('Locations');
                const locationsList = createSuggestionList(suggestions.Locations);
                suggestionsContainer.appendChild(locationsHeading);
                suggestionsContainer.appendChild(locationsList);
            }

            if (suggestions.FirstAlbums && suggestions.FirstAlbums.length > 0) {
                const albumsHeading = createSuggestionHeading('First Albums');
                const albumsList = createSuggestionList(suggestions.FirstAlbums);
                suggestionsContainer.appendChild(albumsHeading);
                suggestionsContainer.appendChild(albumsList);
            }

            if (suggestions.CreationDates && suggestions.CreationDates.length > 0) {
                const datesHeading = createSuggestionHeading('Creation Dates');
                const datesList = createSuggestionList(suggestions.CreationDates);
                suggestionsContainer.appendChild(datesHeading);
                suggestionsContainer.appendChild(datesList);
            }
        }

        const handleInput = async (event) => {
            event.preventDefault();
            if (searchInput.value !== "") {
                const formData = new FormData(searchForm);
                const response = await fetch('/suggestion/', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.text();
                suggestions = JSON.parse(data)
                showSuggestions(suggestions)
            } else {
                hideSuggestion()
            }
        }

        const hideSuggestion = () => {
            suggestionsContainer.classList.remove("show");
            suggestionsContainer.innerHTML = '';
        }

        const debouncedInputHandler = debounce(handleInput, 500);

        searchInput.addEventListener('input', debouncedInputHandler);
    </script>
    <footer>
        Copyright make with <span class="heart">❤️</span> and ☕ by SSMM0498 & BAKSECK
    </footer>
</body>

</html>