{{define "title"}} | Dates{{end}}

{{define "artist"}} {{end}}

{{define "content"}}
<main>
    <h1 class="spacy">GROUPIE</h1>
    <div id="event-list">
        <button id="scroll-button-end">
            <i></i>
        </button>
        <button id="scroll-button-start">
            <i></i>
        </button>
        {{range . }}
        <a href="/artist/{{ .Id }}" class="event glass">
            <div class="day">{{.Day}}</div>
            <div class="month">{{.Month}}</div>
            <div class="year">{{.Year}}</div>
        </a>
        {{end}}
        <script>
            const scrollToStartButton = document.getElementById('scroll-button-start');
            const scrollToEndButton = document.getElementById('scroll-button-end');
            const eventList = document.getElementById('event-list');

            eventList.addEventListener('scroll', () => {
                const scrollPosition = Math.ceil(eventList.scrollLeft);
                const scrollMax = eventList.scrollWidth - eventList.clientWidth;

                scrollToStartButton.style.display = scrollPosition > 0 ? 'flex' : 'none';
                scrollToEndButton.style.display = scrollPosition < scrollMax ? 'flex' : 'none';
            });

            scrollToStartButton.addEventListener('click', () => {
                eventList.scrollTo({
                    left: 0,
                    behavior: 'smooth'
                });
            });

            scrollToEndButton.addEventListener('click', () => {
                eventList.scrollTo({
                    left: eventList.scrollWidth,
                    behavior: 'smooth'
                });
            });
        </script>
    </div>
</main>
{{end}}